.env
.cache
.vscode
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docker
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
vendor/pkg/
pyenv
Vagrantfile
*.pub

*.pem
*.cfg
configs/temp.json
hosts
aws_ansible/playbook.yml
aws_ansible/workers-cluster.yml
aws_ansible/group_vars/all/pass.yml
aws_ansible/sgd_aws
configs/elasticsearch/es-config/filebeat.yml
configs/elasticsearch/elastic-stack.yml
